---
# options: development, production
environment: development
app:
   web:
      name: Fetroshop CMS API
      version: 1.0.0
      host: 0.0.0.0
      port: 3000
      env: development
      url: http://localhost:3000
      logLevel: trace
   cms:
      name: Fetroshop Web API
      version: 1.0.0
      host: 0.0.0.0
      port: 3001
      env: development
      url: http://localhost:3001
      logLevel: trace
fiber:
   # The maximum amount of time (second) to wait for the next request when keep-alive is enabled. If IdleTimeout is zero, the value of ReadTimeout is used.
   #
   #Default: unlimited
   idleTimeout: 30

   # The maximum duration (second) before timing out writes of the response. It is reset after the request handler has returned.
   #
   # Default: unlimited
   writeTimeout: 30

   # The amount of time allowed to read the full request including body. It is reset after the request handler has returned. The connection's read deadline is reset when the connection opens.
   #
   # Default: unlimited
   readTimeout: 30

   # When set to true, this will spawn multiple Go processes listening on the same port.
   #
   # Default: false
   prefork: false

   # When set to true, it will prevent app to panic
   #
   #Default: false
   recovery: true

   # EnableStackTrace enables handling stack trace
   #
   # Optional. Default: false
   enableStackTrace: true

   # SetLevel sets the logger level.
   logLevel: trace
database:
   main:
      dbName: fetroshop
      dbUsername: postgres
      dbPassword: postgres
      dbHost: db
      dbPort: 5432
      dbParam: sslmode=disable

   test:
      dbName: fetroshop_test
      dbUsername: postgres
      dbPassword: postgres
      dbHost: db
      dbPort: 5432
      dbParam: sslmode=disable

   # (int) Maximum number of open connections to the database.
   dbMaxOpenConns: 100

   # (int) Maximum number of iddle connections to the database.
   dbMaxIdleConns: 10

   # (int) Maximum time (Minutes) of connections lifetime to the database.
   dbConnMaxLifetime: 30

   # (int) Maximum time (Minutes) of connections iddle time to the database.
   dbConnMaxIdleTime: 5

   # Database log mode
   # Options: silent, error, warn, info
   # Default: silent
   logLevel: info
security:
   cors:
      # AllowOrigin defines a list of origins that may access the resource.
      #
      # Optional. Default value "*"
      allowOrigins: "http://127.0.0.1:3000,http://127.0.0.1:3001"

      # AllowHeaders defines a list of request headers that can be used when making the actual request. This is in response to a preflight request.
      #
      # Optional. Default value "".
      allowHeaders: "Origin, Content-Type, Accept, Authorization"

      # AllowMethods defines a list methods allowed when accessing the resource. This is used in response to a preflight request.
      #
      # Optional. Default value "GET,POST,HEAD,PUT,DELETE,PATCH"
      allowMethods: "GET, POST, DELETE, PUT, PATCH, OPTIONS"
   jwt:
      # ParseDuration parses a duration string. A duration string is a possibly signed sequence of decimal numbers, each with optional fraction and a unit suffix, such as "300ms", "-1.5h" or "2h45m". Valid time units are "ns", "us" (or "µs"), "ms", "s", "m", "h".
      expiration: 10h
      # The key used to sign and verify JWT tokens
      tokenKey: U/i0fGkXlkwE9tLkmklxHl99dZhoK6TFopqsM3Hx040=
swagger:
   # If set to true, enables deep linking for tags and operations. default: true
   deepLinking: true

   # Controls the default expansion setting for the operations and tags. 'list' (default, expands only the tags), 'full' (expands the tags and operations), 'none' (expands nothing)
   docExpansion: none
